<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>مدال هشدار </title>
    <link rel="stylesheet" href="../dist/output.css" />
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
</head>

<body dir="rtl">
    <div class="fixed top-0 left-0 flex items-center justify-center w-full h-full bg-white bg-opacity-50">
        <div class="border max-w-[450px] mx-auto shadow-lg rounded-md p-5 bg-white">
            <div class="flex flex-col items-center justify-center gap-4">
                <ion-icon class="w-10 h-10 text-yellow-500" name="alert-circle"></ion-icon>
                <span class="font-medium text-gray-700">هشدار</span>
            </div>
            <div class="mt-4 text-sm font-light text-center text-gray-500">
                ظرفیت نوع بلیط رزرو برای کودکان زیر سال 8 است !
            </div>
            <div class="mt-5 text-center">
                <button
                    class="px-5 py-2 text-sm font-medium text-white duration-200 bg-yellow-500 border border-yellow-500 rounded-md bg-primary hover:bg-transparent hover:text-yellow-500">
                    تایید
                </button>
            </div>
        </div>
    </div>

</body>

</html>