<!DOCTYPE html>
<html lang="en" style="background-image: url('../img/main-wallpaper.png')">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>تسویه حساب | تیلویند</title>
    <link rel="stylesheet" href="../dist/output.css" />
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
    <link
      rel="stylesheet"
      href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
      integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script
      src="https://code.jquery.com/jquery-3.7.0.min.js"
      integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
      crossorigin="anonymous"
    ></script>
  </head>

  <body dir="rtl">
    <div class="min-h-full bg-white">
      <div class="shadow-md">
        <nav x-data="{ open: false }" class="navbar">
          <div class="px-2 mx-auto sm:px-4 lg:px-8">
            <div class="relative flex items-center justify-between h-16">
              <div class="flex items-center gap-8 px-2 lg:px-0">
                <div class="flex-shrink-0">
                  <a class="flex items-center" href="#">
                    <span class="reltive top-[3px] text-white">Tailwind</span>
                    <img
                      class="block relative right-[5px] h-8 w-8"
                      src="https://tailwindui.com/img/logos/mark.svg?color=indigo&amp;shade=300"
                      alt="Your Company"
                    />
                  </a>
                </div>
                <div class="hidden lg:ml-10 lg:block">
                  <div class="flex space-x-4">
                    <a
                      href="index.html"
                      class="navbar-link"
                      aria-current="page"
                      x-state:on="Current"
                      x-state:off="Default"
                      >پیشخوان</a
                    >

                    <a href="#" class="navbar-link">دانلود ها </a>
                    <a href="profile-sign-in.html" class="navbar-link"
                      >پروفایل
                    </a>
                    <a href="wallet.html" class="navbar-link_active">کیف پول</a>

                    <a href="index.html" class="navbar-link">صفحه اصلی</a>

                    <a href="tickets.html" class="navbar-link">تیکت ها </a>
                  </div>
                </div>
              </div>
              <div
                class="flex justify-center flex-1 px-2 lg:ml-6 lg:justify-end"
              >
                <div class="w-full max-w-lg lg:max-w-xs">
                  <label htmlFor="search" class="sr-only">Search</label>
                  <div
                    class="relative text-gray-400 focus-within:text-gray-600"
                  >
                    <div
                      class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
                    >
                      <svg
                        class="hidden w-5 h-5 text-gray-200 lg:block"
                        x-description="Heroicon name: mini/magnifying-glass"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z"
                          clipRule="evenodd"
                        ></path>
                      </svg>
                    </div>
                    <input
                      id="search"
                      class="hidden lg:block w-full rounded-md border focus:gray-600 border-gray-200 bg-transparent py-2 pl-10 pr-3 leading-5 text-gray-200 font-light text-[13px] placeholder-gray-200 focus:outline-none duration-300 sm:text-sm"
                      placeholder="جست و جو"
                      type="search"
                      name="search"
                      style="font-weight: 100 !important"
                    />
                  </div>
                </div>
              </div>
              <div class="flex lg:hidden">
                <!-- Mobile menu button -->
                <button
                  type="button"
                  class="inline-flex items-center justify-center p-2 text-black bg-gray-300 rounded-md hover:bg-opacity-75 hover:text-gray-600 focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2"
                  id="sidebar-btn"
                >
                  <span class="sr-only">Open main menu</span>
                  <svg
                    x-state:on="Menu open"
                    x-state:off="Menu closed"
                    class="block w-6 h-6"
                    :class="{ 'hidden': open, 'block': !(open) }"
                    x-description="Heroicon name: outline/bars-3"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    strokeWidth="1.5"
                    stroke="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      strokeLinecap="round"
                      strokeLinejoin="round"
                      d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
                    ></path>
                  </svg>
                  <svg
                    x-state:on="Menu open"
                    x-state:off="Menu closed"
                    class="hidden w-6 h-6"
                    :class="{ 'block': open, 'hidden': !(open) }"
                    x-description="Heroicon name: outline/x-mark"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    strokeWidth="1.5"
                    stroke="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      strokeLinecap="round"
                      strokeLinejoin="round"
                      d="M6 18L18 6M6 6l12 12"
                    ></path>
                  </svg>
                </button>
              </div>

              <div class="hidden lg:ms-4 lg:block">
                <div class="flex items-center">
                  <!-- ===  message icon == -->
                  <div class="cursor-pointer">
                    <button
                      type="button"
                      class="navbar-message-icon_button badge"
                    >
                      <span class="sr-only">View notifications</span>
                      <ion-icon
                        class="h-6 w-6 relative top-[3px]"
                        name="chatbox-ellipses-outline"
                      ></ion-icon>
                    </button>
                    <script>
                      $(window).ready(function () {
                        var messageMenuInterval = null;
                        $(".navbar-message-icon_button").click(function () {
                          $(".navbar-message_dropdown").removeClass("hidden");
                        });

                        $(
                          ".navbar-message-icon_button,.navbar-message_dropdown"
                        ).mouseenter(function () {
                          clearTimeout(messageMenuInterval);
                        });
                        $(
                          ".navbar-message-icon_button,.navbar-message_dropdown"
                        ).mouseleave(function () {
                          messageMenuInterval = setTimeout(function () {
                            $(".navbar-message_dropdown").addClass("hidden");
                          }, 700);
                        });
                      });
                    </script>
                    <!-- === message icon drpdown links === -->
                    <div class="hidden bg-white navbar-message_dropdown">
                      <div class="flex-col">
                        <a
                          class="block duration-200 pe-8 hover:bg-gray-50"
                          href="#"
                        >
                          <div
                            class="relative flex items-center gap-4 p-4 rounded-lg"
                          >
                            <img
                              class="w-10 h-10 rounded-full"
                              src="../img/icons8-avatar-96.png"
                              alt=""
                            />
                            <div>
                              <p class="text-[12px] font-light">امیر</p>
                              <p
                                class="text-gray-400 text-[10px] mt-2 font-light"
                              >
                                3 دقیقه پیش
                              </p>
                            </div>
                            <span
                              class="bg-red-500 text-white absolute rounded-full px-2 py-1 top-[12px] right-[10px] text-[8px]"
                              >2</span
                            >
                          </div>
                        </a>
                        <hr />
                        <a
                          class="block duration-200 pe-8 hover:bg-gray-50"
                          href="#"
                        >
                          <div
                            class="relative flex items-center gap-4 p-4 rounded-lg"
                          >
                            <img
                              class="w-10 h-10 rounded-full"
                              src="../img/icons8-avatar-96.png"
                              alt=""
                            />
                            <div>
                              <p class="text-[12px] font-light">امیر</p>
                              <p
                                class="text-gray-400 text-[10px] mt-2 font-light"
                              >
                                3 دقیقه پیش
                              </p>
                            </div>
                            <span
                              class="bg-red-500 text-white absolute rounded-full px-2 py-1 top-[12px] right-[10px] text-[8px]"
                              >2</span
                            >
                          </div>
                        </a>
                        <hr />
                        <a
                          class="block duration-200 pe-8 hover:bg-gray-50"
                          href="#"
                        >
                          <div
                            class="relative flex items-center gap-4 p-4 rounded-lg"
                          >
                            <img
                              class="w-10 h-10 rounded-full"
                              src="../img/icons8-avatar-96.png"
                              alt=""
                            />
                            <div>
                              <p class="text-[12px] font-light">امیر</p>
                              <p
                                class="text-gray-400 text-[10px] mt-2 font-light"
                              >
                                3 دقیقه پیش
                              </p>
                            </div>
                            <span
                              class="bg-red-500 text-white absolute rounded-full px-2 py-1 top-[12px] right-[10px] text-[8px]"
                              >2</span
                            >
                          </div>
                        </a>
                        <hr />
                      </div>
                    </div>
                  </div>
                  <!-- ===== message icon ends here ==== -->

                  <!-- Profile dropdown -->

                  <div
                    class="relative flex-shrink-0 ml-3"
                    x-data="Components.menu({ open: false })"
                    x-init="init()"
                    @keydown.escape.stop="open = false; focusButton()"
                    @click.away="onClickAway($event)"
                  >
                    <div class="duration-300 group hover:opacity-75">
                      <button
                        type="button"
                        class="navbar-profile_button"
                        id="user-menu-button"
                      >
                        <span class="sr-only">Open user menu</span>
                        <img
                          class="w-8 h-8 hover:scale-[1.2] duration-300 rounded-full"
                          src="../img/icons8-avatar-96.png"
                          alt=""
                        />
                      </button>
                    </div>

                    <div class="hidden navbar-profile-dropdown_links">
                      <a
                        href="login-form.html"
                        class="block px-4 py-2 text-sm text-gray-700 duration-300 hover:bg-gray-50 hover:text-primary-500"
                        x-state:on="Active"
                        x-state:off="Not Active"
                        :class="{ 'bg-gray-100': activeIndex === 0 }"
                        role="menuitem"
                        tabindex="-1"
                        id="user-menu-item-0"
                        @mouseenter="onMouseEnter($event)"
                        @mousemove="onMouseMove($event, 0)"
                        @mouseleave="onMouseLeave($event)"
                        @click="open = false; focusButton()"
                      >
                        <ion-icon class="pe-2" name="log-in-outline"></ion-icon>
                        ورود/ثبت نام
                      </a>
                      <a
                        href="#"
                        target="_blank"
                        class="block px-4 py-2 text-sm text-gray-700 duration-300 hover:bg-gray-50 hover:text-primary-500"
                        :class="{ 'bg-gray-100': activeIndex === 1 }"
                        role="menuitem"
                        tabindex="-1"
                        id="user-menu-item-1"
                        @mouseenter="onMouseEnter($event)"
                        @mousemove="onMouseMove($event, 1)"
                        @mouseleave="onMouseLeave($event)"
                        @click="open = false; focusButton()"
                      >
                        <i class="ion-ios-gear-outline pe-2"></i>
                        تنظیمات
                      </a>
                      <a
                        href="#"
                        target="_blank"
                        class="block px-4 py-2 text-sm text-gray-700 duration-300 hover:bg-gray-50 hover:text-primary-500"
                        :class="{ 'bg-gray-100': activeIndex === 2 }"
                        role="menuitem"
                        tabindex="-1"
                        id="user-menu-item-2"
                        @mouseenter="onMouseEnter($event)"
                        @mousemove="onMouseMove($event, 2)"
                        @mouseleave="onMouseLeave($event)"
                        @click="open = false; focusButton()"
                      >
                        <i class="ion-power pe-2"></i>
                        خروج
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>

    <!-- ====== side bar starts here ==== -->
    <aside class="hidden lg:block sidebar_fixed z-[1000]">
      <div
        class="fixed top-0 left-0 w-full h-full bg-gray-100 bg-opacity-50 lg:hidden sidebar-wrapper"
      ></div>
      <div class="relative flex flex-col gap-2 pt-5 pe-5 bg-[#211e29] pb-8">
        <div class="flex flex-col items-center justify-center p-4">
          <img
            class="w-20 h-20 rounded-md"
            src="../img/icons8-avatar-96.png"
            alt=""
          />
          <p class="mt-3 text-white">username</p>
          <a href="#">
            <ion-icon
              class="sidebar-message_icon"
              title="سبد خرید "
              name="cart"
            ></ion-icon>
          </a>
          <button
            title="خروج از حساب کاربری"
            class="cursor-pointer sidebar-exit_button"
          >
            <ion-icon name="exit-outline"></ion-icon>
            <span class="sr-only">Exit button</span>
          </button>
        </div>
        <div class="flex flex-col gap-2 mt-4">
          <a class="sidebar-accordion_button" href="#">
            <ion-icon
              class="pe-3 text-primary-200"
              name="desktop-outline"
            ></ion-icon>
            پیشخوان کاربری
          </a>
          <a class="sidebar-accordion_button" href="#">
            <ion-icon
              class="pe-3 text-primary-200"
              name="stats-chart-outline"
            ></ion-icon>
            آنالیز و تحلیل محصولات
          </a>
          <a class="sidebar-accordion_button" href="#">
            <ion-icon
              class="pe-3 text-primary-200"
              name="person-outline"
            ></ion-icon>
            پروفایل
          </a>
          <!-- accordion one ==== -->
          <div class="mt-2 group">
            <button class="sidebar-accordion_button">
              <ion-icon
                class="pe-3 text-primary-200"
                name="shield-checkmark-outline"
              ></ion-icon>
              پشتیبانی
              <i
                class="ion-chevron-down absolute left-[20px] group-focus-within:rotate-180 duration-300"
              ></i>
            </button>
            <!-- ===  accordion box === -->
            <div class="sidebar-accordion-box">
              <a class="sidebar-accordion-button_link" href="#">
                <ion-icon
                  class="relative top-[2px] px-1 text-primary-200"
                  name="add-outline"
                ></ion-icon>
                ارسال پیام
              </a>
              <a class="sidebar-accordion-button_link" href="#">
                <ion-icon
                  class="relative top-[2px] px-1 text-primary-200"
                  name="chatbubble-outline"
                ></ion-icon>
                پیام های من
              </a>
              <a class="sidebar-accordion-button_link" href="#">
                <ion-icon
                  class="relative top-[2px] px-1 text-primary-200"
                  name="chatbubble-ellipses-outline"
                ></ion-icon>
                پاسخ های دریافت شده
              </a>
              <a class="sidebar-accordion-button_link" href="#">
                <ion-icon
                  class="relative top-[2px] px-1 text-primary-200"
                  name="chatbubbles-outline"
                ></ion-icon>
                پیام های دریافتی
              </a>
            </div>
          </div>
          <!-- ==== accordion one ends here ==== -->

          <a class="sidebar-accordion_button" href="#">
            <ion-icon
              class="relative top-[3px] pe-3 text-primary-200"
              name="chatbox-ellipses-outline"
            ></ion-icon>
            پرسش وپاسخ
          </a>
          <a class="sidebar-accordion_button" href="#">
            <ion-icon
              class="relative top-[3px] pe-3 text-primary-200"
              name="ticket-outline"
            ></ion-icon>
            تیکت ها
          </a>
          <a class="sidebar-accordion_button" href="#">
            <ion-icon
              class="pe-3 text-primary-200"
              name="stats-chart-outline"
            ></ion-icon>
            آنالیز و تحلیل محصولات
          </a>
          <a class="sidebar-accordion_button" href="#">
            <ion-icon
              class="pe-3 text-primary-200"
              name="star-half-outline"
            ></ion-icon>
            بازخورد ها
          </a>
          <a class="sidebar-accordion_button" href="#">
            <ion-icon
              class="pe-3 text-primary-200"
              name="stats-chart-outline"
            ></ion-icon>
            فروش ها
          </a>
        </div>

        <!-- accordion two  ==== -->
        <div class="mt-2 group">
          <button class="sidebar-accordion_button">
            <ion-icon
              class="pe-3 text-primary-200"
              name="shield-checkmark-outline"
            ></ion-icon>
            محصولات من
            <i
              class="ion-chevron-down absolute left-[20px] group-focus-within:rotate-180 duration-300"
            ></i>
          </button>
          <!-- ===  accordion box === -->
          <div class="sidebar-accordion-box">
            <a class="sidebar-accordion-button_link" href="#">
              <ion-icon
                class="relative top-[2px] px-1 text-primary-200"
                name="add-outline"
              ></ion-icon>
              محصولات منتشر شده
            </a>
            <a class="sidebar-accordion-button_link" href="#">
              <ion-icon
                class="relative top-[2px] px-1 text-primary-200"
                name="chatbubble-outline"
              ></ion-icon>
              ارسال محصول جدید
            </a>
            <a class="sidebar-accordion-button_link" href="#">
              <ion-icon
                class="relative top-[2px] px-1 text-primary-200"
                name="chatbubble-ellipses-outline"
              ></ion-icon>
              بروزرسانی
            </a>
            <a class="sidebar-accordion-button_link" href="#">
              <ion-icon
                class="relative top-[2px] px-1 text-primary-200"
                name="chatbubbles-outline"
              ></ion-icon>
              تغییر جزییات محصول
            </a>
            <a class="sidebar-accordion-button_link" href="#">
              <ion-icon
                class="relative top-[2px] px-1 text-primary-200"
                name="chatbubbles-outline"
              ></ion-icon>
              تغییر محتوا
            </a>
          </div>
        </div>
        <!-- ==== accordion tow ends here ==== -->
        <a class="sidebar-accordion_button" href="#">
          <ion-icon
            class="pe-3 text-primary-200"
            name="stats-chart-outline"
          ></ion-icon>
          آموزش ها
        </a>
        <a class="sidebar-accordion_button" href="#">
          <ion-icon
            class="pe-3 text-primary-200"
            name="star-half-outline"
          ></ion-icon>
          محصولات خریداری شده
        </a>
        <a class="sidebar-accordion_button" href="#">
          <ion-icon
            class="pe-3 text-primary-200"
            name="stats-chart-outline"
          ></ion-icon>
          علاقه مندی ها
        </a>

        <!-- accordion three ==== -->
        <div class="group">
          <button class="sidebar-accordion_button">
            <ion-icon
              class="pe-3 text-primary-200"
              name="shield-checkmark-outline"
            ></ion-icon>
            شرح عملکرد
            <i
              class="ion-chevron-down absolute left-[20px] group-focus-within:rotate-180 duration-300"
            ></i>
          </button>
          <!-- ===  accordion box === -->
          <div class="sidebar-accordion-box">
            <a class="sidebar-accordion-button_link" href="#">
              <ion-icon
                class="relative top-[2px] px-1 text-primary-200"
                name="cube-outline"
              ></ion-icon>
              سفارش ها
            </a>
            <a class="sidebar-accordion-button_link" href="#">
              <ion-icon
                class="relative top-[2px] px-1 text-primary-200"
                name="shield-outline"
              ></ion-icon>
              پشتیبانی
            </a>
            <a class="sidebar-accordion-button_link" href="#">
              <ion-icon
                class="relative top-[2px] px-1 text-primary-200"
                name="shield-checkmark-outline"
              ></ion-icon>
              پشتیبانی سریع
            </a>
            <a class="sidebar-accordion-button_link" href="#">
              <ion-icon
                class="relative top-[2px] px-1 text-primary-200"
                name="wallet-outline"
              ></ion-icon>
              بازاریابی
            </a>
            <a class="sidebar-accordion-button_link" href="#">
              <ion-icon
                class="relative top-[2px] px-1 text-primary-200"
                name="mail-unread-outline"
              ></ion-icon>
              درخواست ها
            </a>
            <a class="sidebar-accordion-button_link" href="#">
              <ion-icon
                class="relative top-[2px] px-1 text-primary-200"
                name="card-outline"
              ></ion-icon>
              کش بک
            </a>
          </div>
        </div>
        <!-- ==== accordion three  ends here ==== -->

        <!-- accordion four  ==== -->
        <div class="group">
          <button class="sidebar-accordion_button">
            <i class="ion-cash relative top-[2px] px-1"></i>
            مدیریت مالی
            <i
              class="ion-chevron-down absolute left-[20px] group-focus-within:rotate-180 duration-300"
            ></i>
          </button>
          <!-- ===  accordion box === -->
          <div class="sidebar-accordion-box">
            <a class="sidebar-accordion-button_link" href="#">
              <ion-icon
                class="relative top-[2px] px-1 text-primary-200"
                name="bag-check-outline"
              ></ion-icon>
              پرداخت ها
            </a>
            <a
              class="sidebar-accordion-button_link"
              href="wallet.html"
              target="_blank"
            >
              <ion-icon
                class="relative top-[2px] px-1 text-primary-200"
                name="wallet-outline"
              ></ion-icon>
              کیف پول دیجیتال
            </a>
            <a class="sidebar-accordion-button_link" href="#">
              <ion-icon
                class="relative top-[2px] px-1 text-primary-200"
                name="card-outline"
              ></ion-icon>
              اعتبار حساب
            </a>
            <a class="sidebar-accordion-button_link" href="#">
              <ion-icon
                class="relative top-[2px] px-1 text-primary-200"
                name="ban-outline"
              ></ion-icon>
              بلوکه شده ها
            </a>
            <a class="sidebar-accordion-button_link" href="#">
              <ion-icon
                class="relative top-[2px] px-1 text-primary-200"
                name="bar-chart-outline"
              ></ion-icon>
              درآمد ها
            </a>
            <a class="sidebar-accordion-button_link" href="#">
              <ion-icon
                class="relative top-[2px] px-1 text-primary-200"
                name="receipt-outline"
              ></ion-icon>
              تسویه حساب
            </a>
            <a class="sidebar-accordion-button_link" href="#">
              <ion-icon
                class="relative top-[2px] px-1 text-primary-200"
                name="warning-outline"
              ></ion-icon>
              پرداخت نشده
            </a>
          </div>
        </div>
        <!-- ==== accordion four  ends here ==== -->
        <a class="sidebar-accordion_button" href="#">
          <ion-icon
            class="pe-3 text-primary-200"
            name="pricetag-outline"
          ></ion-icon>
          کد تخفیف
        </a>
        <a class="sidebar-accordion_button" href="#">
          <ion-icon
            class="pe-3 text-primary-200"
            name="ribbon-outline"
          ></ion-icon>
          همکاری با ما
        </a>

        <!-- accordion five  ==== -->
        <div class="mb-4 group">
          <button class="sidebar-accordion_button">
            <ion-icon
              class="relative top-[2px] px-1 text-primary-200"
              name="construct-outline"
            ></ion-icon>
            تنظیمات
            <i
              class="ion-chevron-down absolute left-[20px] group-focus-within:rotate-180 duration-300"
            ></i>
          </button>
          <!-- ===  accordion box === -->
          <div class="sidebar-accordion-box">
            <a class="sidebar-accordion-button_link" href="#">
              <ion-icon
                class="relative top-[2px] px-1 text-primary-200"
                name="person-outline"
              ></ion-icon>
              اطلاعات حساب کاربری
            </a>
            <a class="sidebar-accordion-button_link" href="#">
              <ion-icon
                class="relative top-[2px] px-1 text-primary-200"
                name="card-outline"
              ></ion-icon>
              اطلاعات حساب شما
            </a>
          </div>
        </div>
        <!-- ==== accordion five  ends here ==== -->
        <hr />
        <a class="sidebar-accordion_button" href="#">
          <ion-icon
            class="px-1 relative top-[2px] text-primary-200"
            name="chevron-forward-circle-outline"
          ></ion-icon>
          وبلاگ ما
        </a>
        <a class="sidebar-accordion_button" href="#">
          <ion-icon
            class="px-1 relative top-[2px] text-primary-200"
            name="create-outline"
          ></ion-icon>
          درباره ما
        </a>
      </div>
    </aside>

    <nav
      class="flex mb-4 mt-[110px] lg:mr-[300px] lg:ml-[80px] mr-0 ml-0 px-6"
      aria-label="Breadcrumb"
    >
      <ol class="inline-flex items-center space-x-1 md:space-x-3">
        <li class="inline-flex items-center selection:">
          <a
            href="#"
            class="inline-flex items-center text-sm font-semibold text-gray-700 duration-300 hover:text-blue-500"
          >
            صفحه اصلی
          </a>
        </li>
        <li>
          <div class="flex items-center">
            <svg
              class="w-3 h-3 mx-2 text-gray-400 rotate-180"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 6 10"
            >
              <path
                stroke="currentColor"
                strokeLinecap="round"
                strokeLinejoin="round"
                strokeWidth="2"
                d="m1 9 4-4-4-4"
              />
            </svg>
            <a
              href="#"
              class="ml-1 text-sm font-semibold text-gray-700 duration-300 hover:text-blue-500"
              >کیف پول</a
            >
          </div>
        </li>
        <li aria-current="page">
          <div class="flex items-center">
            <svg
              class="w-3 h-3 text-gray-400 rotate-180"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 6 10"
            >
              <path
                stroke="currentColor"
                strokeLinecap="round"
                strokeLinejoin="round"
                strokeWidth="2"
                d="m1 9 4-4-4-4"
              />
            </svg>
            <span
              class="mx-3 ml-1 text-sm font-semibold text-gray-500 md:ml-2 dark:text-gray-400"
              >شارژ کیف پول</span
            >
          </div>
        </li>
      </ol>
    </nav>
    <main
      class="bg-white border-0 main-content md:shadow-md md:border bg-opacity-98"
    >
      <div>
        <h4 class="flex items-center gap-2 py-4 text-gray-600">
          <ion-icon class="w-6 h-6" name="newspaper-outline"></ion-icon>
          تسویه حساب
        </h4>
        <hr />
        <div class="mt-10">
          <div
            class="p-4 mt-5 bg-gray-300 border border-blue-300 rounded-md shadow-md shadow-blue-400"
          >
            <p class="leading-7 text-gray-800">
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
              استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله
              در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد
              نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد،
              کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان
              جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای
              طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان
              فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری
              موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد
              نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل
              دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
            </p>
          </div>
          <p class="mt-5 text-green-700">
            <ion-icon
              class="relative top-[2px] pl-1"
              name="cash-outline"
            ></ion-icon>
            تسویه حساب در ماه های زوج
          </p>
          <div
            class="p-4 mt-5 bg-gray-300 border border-blue-300 rounded-md shadow-md shadow-blue-400"
          >
            <p class="leading-7 text-gray-800">
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
              استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله
              در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد
              نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد،
              کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان
              جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای
              طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان
              فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری
              موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد
              نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل
              دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
            </p>
          </div>
          <p class="mt-5 text-gray-700">
            <ion-icon
              class="relative top-[2px] pl-1"
              name="newspaper-outline"
            ></ion-icon>
            گواهی ارزش افزوده
          </p>

          <div
            class="p-4 mt-5 mb-10 bg-gray-300 border border-blue-300 rounded-md shadow-md shadow-blue-400"
          >
            <p class="leading-7 text-gray-800">
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
              استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله
              در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد
              نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد،
              کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان
              جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای
              طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان
              فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری
              موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد
              نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل
              دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
            </p>
          </div>
        </div>
        <hr />
        <div class="grid grid-cols-2 mt-10 md:grid-cols-3 lg:grid-cols-4">
          <div class="flex flex-col items-center gap-2 text-gray-500">
            <ion-icon class="w-20 h-20" name="wallet-outline"></ion-icon>
            <p>موجودی فعلی حساب</p>
            <p class="text-green-500">200,130 T</p>
          </div>
          <div class="flex flex-col items-center gap-2 text-gray-500">
            <ion-icon class="w-20 h-20" name="cash-outline"></ion-icon>
            <p>موجودی غیر قابل برداشت</p>
            <p class="text-[12px] text-gray-400">
              (کارت های اعتباری و شارژ حساب)
            </p>
            <p class="text-green-500">200,130 T</p>
          </div>
          <div class="flex flex-col items-center gap-2 text-gray-500">
            <ion-icon class="w-20 h-20" name="card-outline"></ion-icon>
            <p>ارزش افزوده قابل پرداخت</p>
            <p class="text-[12px] text-gray-400">(9% از کارمزد پلتفرم)</p>
            <p class="text-green-500">200,130 T</p>
          </div>
          <div class="flex flex-col items-center gap-2 text-gray-500">
            <ion-icon class="w-20 h-20" name="calendar-outline"></ion-icon>
            <p>موجودی قابل برداشت</p>
            <p class="text-[12px] text-gray-400">(درآمد 30 روز قبل)</p>
            <p class="text-green-500">200,130 T</p>
          </div>
        </div>
      </div>

      <!-- === wallet input === -->

      <div class="mt-10">
        <div>
          <h4 class="flex items-center gap-2 py-4 text-gray-600">
            <ion-icon class="w-6 h-6" name="card-outline"></ion-icon>
            درخواست تسویه حساب
          </h4>
          <hr />
          <p class="py-8 text-center text-gray-400">اطلاعات درخواست</p>
          <form class="mb-10" action="">
            <div class="relative mb-3" data-te-input-wrapper-init>
              <input
                type="text"
                class="peer text-sm block min-h-[auto] w-full rounded border border-gray-300 shadow-sm focus:border-blue-400 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear opacity-100 focus:placeholder:opacity-100"
                id="exampleFormControlInputText"
                data-input-text
              />
              <div class="text-[12px] text-red-500 mt-2 hidden">
                تنها عدد وارد کنید (زبان کیبورد خود را حتما به انگلیسی تغییر
                دهید )
              </div>
              <label
                htmlFor="exampleFormControlInputText"
                class="pointer-events-none absolute right-3 group top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out"
              >
                مبلغ درخواستی<span>( به تومان)</span>
              </label>
            </div>
          </form>

          <form class="mt-12" action="">
            <div class="relative mb-3">
              <label
                htmlFor="banks"
                class="block mb-2 text-sm font-medium text-gray-800"
                >از میان حساب های بانکی تان انتخاب کنید</label
              >
              <select
                id=""
                class="bg-gray-50 cursor-pointer border border-blue-300 text-gray-700 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full py-2.5 px-5"
                data-te-select-init
              >
                <option selected>تجارت</option>
                <option value="meli">ملی</option>
                <option value="saman">سامان</option>
                <option value="melat">ملت</option>
                <option value="kesharvarzi">کشاورزی</option>
              </select>
              <div class="flex justify-end mt-5">
                <button type="submit" class="send-request_button" href="#">
                  ارسال درخواست
                </button>
              </div>
            </div>
          </form>

          <!-- ===table starts here ===  -->
          <div class="relative overflow-x-auto rounded-md shadow-md">
            <table class="w-full mt-8 text-sm text-left text-gray-500">
              <thead
                class="text-xs text-gray-700 uppercase bg-gray-300 border-b"
              >
                <tr>
                  <th scope="col" class="px-6 py-3">ردیف</th>
                  <th scope="col" class="px-6 py-3">عنوان</th>
                  <th scope="col" class="px-6 py-3">کاربر</th>
                  <th scope="col" class="px-6 py-3">تاریخ</th>
                  <th scope="col" class="px-6 py-3">مبلغ اصلی</th>
                  <th scope="col" class="px-6 py-3">تخفیف</th>
                  <th scope="col" class="px-6 py-3">مبلغ</th>
                </tr>
              </thead>
              <tbody>
                <tr class="text-gray-700 bg-gray-100 border-b">
                  <th
                    scope="row"
                    class="px-6 py-4 font-medium text-gray-700 whitespace-nowrap"
                  >
                    1
                  </th>
                  <td class="px-6 py-4">Silver</td>
                  <td class="px-6 py-4">Laptop</td>
                  <td class="px-6 py-4">$2999</td>
                  <td class="px-6 py-4">$2999</td>
                  <td class="px-6 py-4">$2999</td>
                  <td class="px-6 py-4">
                    <a
                      href="#"
                      class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
                      >بررسی</a
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </main>

    <!-- === end of the page === -->
    <div class="flex justify-center lg:mr-[400px] mt-[10px] mb-[5px]">
      <div
        class="flex rounded-md items-center gap-2 text-gray-500 font-medium text-[10px]"
      >
        <a href="#">
          <img class="w-[20px]" src="../img/Tailwind_CSS_Logo.svg.png" alt=""
        /></a>
        <span class="p-1 bg-transparent rounded-md">
          تمامی حقوق برای تیلویند محفوظ است</span
        >
      </div>
    </div>
    <!-- ==== social media button ====== -->
    <div class="relative group">
      <button
        class="fixed duration-200 bottom-[20px] left-[20px]"
        id="socialNetwork"
      >
        <ion-icon
          class="w-6 h-6 p-2 text-white rounded-full bg-secondary-400"
          name="share-social-outline"
        ></ion-icon>
      </button>
      <div
        class="dropdown-space before:bottom-0 before:top-[100%] fixed opacity-0 top-[400px] left-[20px] group-focus-within:top-[200px] group-focus-within:opacity-100 duration-300 flex-col gap-3 mb-10"
      >
        <div class="hidden z-[100] group-focus-within:flex flex-col gap-3">
          <a href="#"
            ><ion-icon
              class="w-6 h-6 p-2 text-white bg-blue-400 rounded-full"
              name="logo-twitter"
            ></ion-icon
          ></a>
          <a href="#"
            ><ion-icon
              class="bg-gradient-to-r from-[#f9ce34] via-[#ee2a7b] to-[#6228d7] p-2 rounded-full text-white h-6 w-6"
              name="logo-instagram"
            ></ion-icon
          ></a>
          <a href="#"
            ><ion-icon
              class="w-6 h-6 p-2 text-white bg-blue-500 rounded-full"
              name="logo-facebook"
            ></ion-icon
          ></a>
          <a href="#"
            ><ion-icon
              class="w-6 h-6 p-2 text-white bg-green-500 rounded-full"
              name="logo-whatsapp"
            ></ion-icon
          ></a>
        </div>
      </div>
    </div>

    <!-- ==== scroll back to top button ===== -->
    <button
      class="fixed bottom-[20px] right-[20px] lg:right-[300px]"
      onClick="topFunction()"
      id="myScrollbackBtn"
      title="Go to top"
    >
      <ion-icon
        class="w-6 h-6 p-2 text-white rounded-full bg-secondary-400"
        name="chevron-up-outline"
      ></ion-icon>
    </button>
    <!-- ========= -->

    <script>
      // Get the button:
      let mybutton = document.getElementById("myScrollbackBtn");

      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function () {
        scrollFunction();
      };

      function scrollFunction() {
        if (
          document.body.scrollTop > 20 ||
          document.documentElement.scrollTop > 20
        ) {
          mybutton.style.display = "block";
        } else {
          mybutton.style.display = "none";
        }
      }

      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
      }
    </script>
    <script>
      $(window).ready(function () {
        var userMenuInterval = null;
        $("#user-menu-button").click(function () {
          $(".navbar-profile-dropdown_links").removeClass("hidden");
        });

        $(".navbar-profile-dropdown_links,#user-menu-button").mouseenter(
          function () {
            clearTimeout(userMenuInterval);
          }
        );
        $(".navbar-profile-dropdown_links,#user-menu-button").mouseleave(
          function () {
            userMenuInterval = setTimeout(function () {
              $(".navbar-profile-dropdown_links").addClass("hidden");
            }, 700);
          }
        );

        $("#sidebar-btn").click(function () {
          showSideNav();
        });
        $(".sidebar-wrapper").click(function () {
          hideSideNav();
        });

        function showSideNav() {
          $(".sidebar_fixed").removeClass("hidden").addClass("top-0");
        }

        function hideSideNav() {
          $(".sidebar_fixed").addClass("hidden").removeClass("top-0");
        }
        $(window).resize(function () {
          hideSideNav();
        });
        $("[data-input-text]").focus(function () {
          $(this)
            .siblings("label")
            .addClass(
              "-translate-y-[30px] text-gray-700 scale-[0.8] text-primary -translate-y-[0.9rem] scale-[0.8] motion-reduce:transition-none"
            );
        });
        $("[data-input-text]").blur(function () {
          if ($(this).val().length == 0) {
            $(this)
              .siblings("label")
              .removeClass(
                "-translate-y-[30px] text-gray-700 scale-[0.8] text-primary -translate-y-[0.9rem] scale-[0.8] motion-reduce:transition-none"
              );
          }
        });
        $("[data-input-text]").each(function () {
          if ($(this).val().length == 0) {
            $(this)
              .siblings("label")
              .removeClass(
                "-translate-y-[30px] text-gray-700 scale-[0.8] text-primary -translate-y-[0.9rem] scale-[0.8] motion-reduce:transition-none"
              );
          } else {
            $(this)
              .siblings("label")
              .addClass(
                "-translate-y-[30px] text-gray-700 scale-[0.8] text-primary -translate-y-[0.9rem] scale-[0.8] motion-reduce:transition-none"
              );
          }
        });
      });
    </script>
  </body>
</html>
