<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>سبد خرید</title>
  <link rel="stylesheet" href="../dist/output.css" />
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
</head>

<body dir="rtl">
  <div class="shadow-md mx-auto max-w-[600px] rounded-md border p-4 mt-10">
    <div class="flex items-center justify-between pb-3 font-bold">
      سبد خرید
      <button>
        <ion-icon class="w-8 h-8 text-red-500" name="close-circle-outline"></ion-icon>
      </button>
    </div>
    <hr />
    <div class="my-8">
      <p class="mb-8 font-bold">بلیط های افزوده شده به سبد خرید :</p>
      <!-- subject -->
      <p class="font-bold text-center text-gray-500">
        شوی ستارگان | سانس 26 دوشنبه 16 مرداد 1402:
      </p>
      <table class="w-full mx-auto mt-5 text-sm text-left text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-200 border-b rounded-lg">
          <tr>
            <th scope="col" class="px-6 py-3">ردیف</th>
            <th scope="col" class="px-6 py-3">عنوان</th>
            <th scope="col" class="px-6 py-3">تعداد</th>
            <th scope="col" class="px-6 py-3">قیمت</th>
            <th scope="col" class="px-6 py-3">حذف</th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-gray-700 bg-gray-100 border-b">
            <th scope="row" class="px-6 py-4 font-medium text-gray-700 whitespace-nowrap">1</th>
            <td class="px-6 py-4">اکونومی | ECO</td>
            <td class="px-6 py-4">2</td>
            <td class="px-6 py-4">12،700،000</td>
            <td class="px-6 py-4">
              <button>
                <ion-icon class="w-8 h-8 text-red-500" name="trash-outline"></ion-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- subject -->
      <p class="mt-5 font-bold text-center text-gray-500">
        رستوران شاندیز | سانس شام سه شنبه 17 مرداد 1402
      </p>
      <table class="w-full mx-auto mt-5 text-sm text-left text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-200 border-b rounded-lg">
          <tr>
            <th scope="col" class="px-6 py-3">ردیف</th>
            <th scope="col" class="px-6 py-3">عنوان</th>
            <th scope="col" class="px-6 py-3">تعداد</th>
            <th scope="col" class="px-6 py-3">قیمت</th>
            <th scope="col" class="px-6 py-3">حذف</th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-gray-700 bg-gray-100 border-b">
            <th scope="row" class="px-6 py-4 font-medium text-gray-700 whitespace-nowrap">1</th>
            <td class="px-6 py-4">هزینه رزرو</td>
            <td class="px-6 py-4">4</td>
            <td class="px-6 py-4">18،700،000</td>
            <td class="px-6 py-4">
              <button>
                <ion-icon class="w-8 h-8 text-red-500" name="trash-outline"></ion-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- subject -->
      <p class="mt-5 font-bold text-center text-gray-500">
        کشتی تفریحی آرتمس پلاس | کشتی آرتمیس 21:00 الی 2:00 چهارشنبه 18 مرداد 1402
      </p>
      <table class="w-full mx-auto mt-5 text-sm text-left text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-200 border-b rounded-lg">
          <tr>
            <th scope="col" class="px-6 py-3">ردیف</th>
            <th scope="col" class="px-6 py-3">عنوان</th>
            <th scope="col" class="px-6 py-3">تعداد</th>
            <th scope="col" class="px-6 py-3">قیمت</th>
            <th scope="col" class="px-6 py-3">حذف</th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-gray-700 bg-gray-100 border-b">
            <th scope="row" class="px-6 py-4 font-medium text-gray-700 whitespace-nowrap">1</th>
            <td class="px-6 py-4">کشتی آرتمیس با پذیرایی</td>
            <td class="px-6 py-4">2</td>
            <td class="px-6 py-4">43،800،000</td>
            <td class="px-6 py-4">
              <button>
                <ion-icon class="w-8 h-8 text-red-500" name="trash-outline"></ion-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <hr />

    <!-- button -->
    <div class="flex justify-center">
      <button
        class="mt-6 w-[70%] bg-green-400 p-2 rounded-md border border-green-400 hover:bg-transparent hover:text-black duration-200">
        <ion-icon class="relative top-[2px]" name="bag-check-outline"></ion-icon>
        نهایی کردن خرید
      </button>
    </div>
  </div>
</body>

</html>