<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>بلیط با موفقیت افزوده شد </title>
  <link rel="stylesheet" href="../dist/output.css" />
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>

<body dir="rtl">
  <div class="flex justify-center">
    <div class="bg-green-600  fixed bottom-[40px] max-w-[330px] p-6 rounded-md  ">
      <div class="flex items-center gap-2 text-white ">
        <ion-icon class="text-xl" name="checkmark-circle-outline"></ion-icon>
        <p class="text-[12px]">بلیط ها با موفقیت به سبد خرید اضافه شدند </p>
      </div>
    </div>
  </div>

</body>

</html>